$font-weights: (
    "regular" : 400,
    "medium": 500,
    "bold":700
);

@use 'newColor1';
@use 'newColor2' as s;







body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


h1{
    color: newColor1.$bg-color;
    text-align: center;
    font-size: 5rem;
    font-weight: map-get($font-weights, bold );
    padding: 15px 0;
}

.text1,.text2{
    font-size: 1.3rem;
    max-width: 990px;
    margin: 0 auto;
    margin-bottom: 15px;
    color: s.$bg-color;
}

