@use 'newColor1';
@use 'newColor2' as s;
@use 'mixins' as *;






body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}




h1{
    color: newColor1.$bg-color;
    font-size: 3rem;
    text-align: center;
    padding: 15px 0;
}

.text1,.text2{
    @include text-settings(85vw, 220vh);
    font-size: 1.3rem;
    max-width: 990px;
    margin: 0 auto;
    margin-bottom: 15px;
    color: s.$bg-color;
}

